<md-list class="list-group">

    <md-list-item ng-repeat="user in users">
        <a href="#!/users/{{user.id }}" class="list-group-item">

            <h4>
                {{user.name | uppercase }}
            </h4>

        </a>

    </md-list-item>

</md-list>
